# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure & Test Reports
/allure-results/
/allure-report/
/pages/
results.xml

# Environment Variables
.env